 # --- DANE I DOKUMENTACJA ---
*.pdf
*.png
*.jpg
*.jpeg

# --- NARZĘDZIA I DANE SUROWE ---
/data/
/docs/
/etl-tool/
/infra/

# --- BACKEND (Java/Spring) ---
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.idea/
**/.vscode/
**/*.class
**/application-prod.properties

# --- FRONTEND (React/Vite) ---
**/node_modules/
**/dist/
**/.env.local
**/.env.*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# --- SYSTEMOWE I TYMCZASOWE ---
.DS_Store
Thumbs.db
*.log
.gemini/